<div id="help_register">

  <h2>What are the benefits of a registered account?</h2>

  <p>
    You can use the portal without registering at all. This means that you are welcome as a guest. The results of your jobs will be available for a limited time, even if you exit the portal for a short while.
    However, you will not be able to use them if you connect from another place.
  </p>

  <p>
    Registration enables you to store your bookmarked data and results on the server, without any time limit (as long as we can provide enough disk space of course!).
    You can also connect using the same e-mail and password from any place.
  </p>

  <h2>How to register?</h2>

  <p>
    Click on the <i>sign-in</i> link located on the top right of the page, then click on <i>register</i>. Enter your e-mail, and pick a password (this password is specific to 
    the portal). Once submitted, you will receive an e-mail requesting your confirmation for this registration. 
    You can then save your data, and access them from anywhere.
  </p>

</div>