<div id="help_stepbystep">

  <h2>Step by step tutorial</h2>

  <p>
    Welcome to Mobyle, a portal to run bioinformatics analyses. This tutorial is interactive: it helps you to open forms, navigate through the portal and fill some fields. At any time, you can come back here by clicking on the <a href="#" onClick="$('tutorials').showTab();">Tutorials</a> tab above.
  </p>

  <p>
    <h3>Running an analysis</h3>

    <p>
      Let's start by running a first analysis: predict a protein membrane topology with the <b>toppred</b> program. 
      Clicking <a href="#forms::toppred" class="link">here</a> opens the <b>toppred</b> form.

      The first field is for the protein sequence. You can paste the following data:
      <pre>>sp|P02914|MALK_ECOLI MALTOSE/MALTODEXTRIN TRANSPORT ATP-BINDING PROTEIN MALK.
MASVQLQNVTKAWGEVVVSKDINLDIHEGEFVVFVGPSGCGKSTLLRMIAGLETITSGDL
FIGEKRMNDTPPAERGVGMVFQSYALYPHLSVAENMSFGLKPAGAKKEVINQRVNQVAEV
LQLAHLLDRKPKALSGGQRQRVAIGRTLVAEPSVFLLDEPLSNLDAALRVQMRIEISRLH
KRLGRTMIYVTHDQVEAMTLADKIVVLDAGRVAQVGKPLELYHYPADRFVAGFIGSPKMN
FLPVKVTATAIDQVQVELPMPNRQQVWLPVESRDVQVGANMSLGIRPEHLLPSDIADVIL
EGEVQVVEQLGNETQIHIQIPSIRQNLVYRQNDVVLVEEGATFAIGLPPERCHLFREDGT
ACRRLHKEPGV
      </pre>
      Then launch the program by clicking on the Run button.
    </p>
    <p>
      When finished, the results are available under the <a href="#jobs" class="link">Jobs</a> tab. The output starts by some details on the job, followed by the output files. You can return to the form anytime by clicking on <a href="#forms::toppred" class="link">its tab</a>, at the top of the page.
    </p>

  </p>

  <p>
    <h3>Using the databox</h3>

    <p>
      You can input data either by copy/paste, file loading, database fetch, or selection of the output from a previous analysis. Let us try this with some examples. 
    </p>

    <p>
      <h4>- file loading</h4>
      If you don't have any sequence file, you can save the following sequences into a file on your disk.</br> 
      <textarea rows="11">
>MALK_ECOLI
MASVQLQNVTKAWGEVVVSKDINLDIHEGEFVVFVGPSGCGKSTLLRMIA
GLETITSGDLACRRLHKEPGV
>MALK_SALTY
MASVQLRNVTKAWGDVVVSKDINLDIHDGEFVVFVGPSGCGKSTLLRMIA
GLETITSGDLACRRLHQEPGV
>MALK_ENTAE
MASVQLRNVTKAWGDVVVSKDINLEIQDGEFVVFVGPSGCGKSTLLRMIA
GLETVTSGDL
>MALK_PHOLU
MSSVTLRNVSKAYGETIISKNINLEIQEGEFLRM      
      </textarea>
      Then open the <a href="#forms::clustalw-multialign" class="link">clustalw-multialign</a> form and load your sequences file. Then run the program.
    </p>
    <p>
      <h4>- database</h4>
      Go back to our <a href="#forms::toppred" class="link">toppred</a> form, hit the "DB" checkbox and enter: MALK_ECOLI into the input field. This fetchs you the corresponding Swissprot entry.
    </p>
    <p>
      <h4>- previous analysis</h4>
      Open the <a href="#forms::protpars" class="link">protpars</a> form and hit the "Result" checkbox. A menu is available providing access to the sequences previously aligned by Clustalw. Note that you could also have directly input your alignment from the <a href="#jobs" class="link">clustalw result</a>: go to the alignment, select "protpars-infile" from the "pipe it to" menu below the box, and hit "go".
    </p>
  </p>

  <p>
    <h3>Retrieving results later</h3>
    <p>
      Results will be available as long as the server keeps the corresponding files. To access to the results of a previously run job, use the "Jobs" drawer on the left.
    </p>
  </p>

  <p>
    <h3>Searching for programs</h3>

    <p>
      The left panel displays 4 "drawers", in order to help you navigate in the portal. The first one provides a list of the available programs, classified by bioinformatics domain. By default, all programs are listed, but you can filter this long list by providing a search term in the <b>search for</b> field. For instance, enter the term "matrix" - notice that you don't need to hit return to start the search. Only the program having the word "matrix" in their description will be displayed. When mousing over the name of the program, the information bullet displays the matched text.
    </p>

  </p>


</div>
