<metal:recurse xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal" define-macro="categoriesList" tal:condition="cnode" tal:define="global x python:x+1">
	<tal:block tal:condition="python: (cnode.__class__.__name__=='ServerDef' or cnode.__class__.__name__=='CategoryDef' or cnode.__class__.__name__=='ServiceTypeDef' or cnode.__class__.__name__=='Registry')">
		<tal:block tal:condition="python:cnode.__class__.__name__=='ServiceTypeDef'">
			<tal:block
				tal:define="global menuClass string:menu forms; global aClass string:; global ulStyle string:;;;"
			/>			
		</tal:block>
		<tal:block tal:condition="python:cnode.__class__.__name__!='ServiceTypeDef'">
			<tal:block
				tal:define="global menuClass string:;;;"
			/>          
		</tal:block>
		<a tal:condition="cnode/name" tal:content="cnode/name" tal:attributes="href string:#pt${x}; class python:'blindLink %s %s %s %s' % (menuClass, aClass, cnode.__class__.__name__, cnode.name.lower())" >server name</a>
		<ul tal:attributes="id string:pt${x}; style ulStyle">
			<tal:block tal:repeat="c cnode/getChildCategories">
				<li tal:attributes="class string:tree_category tree_node">
					<metal:block tal:define="cnode c">
						<tal:block tal:condition="python:(options['filterOn']=='false')">
							<tal:block
								tal:define="global aClass string:closed; global ulStyle string:display: none;; visibility: hidden;;; "
							/>
						</tal:block>
						<div metal:use-macro="sitemacros/macros/categoriesList"/>
					</metal:block>
				</li>
			</tal:block>
			<tal:block tal:repeat="c cnode/getChildServices">
				<metal:block tal:define="cnode c">
					<tal:block tal:condition="python:(options['filterOn']=='false')">
						<tal:block
							tal:define="global aClass string:closed; global ulStyle string:display: none;; visibility: hidden;;; "
						/>
					</tal:block>
					<div metal:use-macro="sitemacros/macros/categoriesList"/>
				</metal:block>
			</tal:block>
		</ul>
	</tal:block>
	<tal:block tal:condition="python: (cnode.__class__.__name__=='ProgramDef' or cnode.__class__.__name__=='WorkflowDef' or cnode.__class__.__name__=='ViewerDef' or cnode.__class__.__name__=='TutorialDef' )">
		<metal:block tal:define="program cnode">
			<li tal:attributes="class string:tree_program">
			<tal:block tal:condition="python:(program.server.name!='local')" >
				<tal:block tal:define="global sName string:${program/server/name}."></tal:block>
			</tal:block>
			<tal:block tal:condition="python:(program.server.name=='local')" >
				<tal:block tal:define="global sName"></tal:block>
			</tal:block>
      <tal:block tal:condition="python: (cnode.__class__.__name__=='ProgramDef' or cnode.__class__.__name__=='WorkflowDef' or cnode.__class__.__name__=='ViewerDef')">
				<a class="link" tal:attributes="href string:#forms::${program/pid}; data-programurl program/url">
					<tal:block tal:content="program/name">program name</tal:block><tal:block tal:condition="python:(program.server.name!='local')" tal:content="python:'@'+program.server.name">@server name</tal:block>
				</a>
      </tal:block>
      <tal:block tal:condition="python: (cnode.__class__.__name__=='TutorialDef')">
        <a class="link" tal:attributes="href string:#tutorials::${program/pid}; data-tutorialurl program/url">
          <tal:block tal:content="program/name">tutorial name</tal:block><tal:block tal:condition="python:(program.server.name!='local')" tal:content="python:'@'+program.server.name">@server name</tal:block>
        </a>
      </tal:block>
			<ul class="tooltip" style="display: none" tal:condition="python:hasattr(program,'description') or (hasattr(program,'searchMatches') and len(program.searchMatches)>0)">
            <li tal:condition="program/description"><span tal:content="program/description"/></li>
            <li tal:condition="python:hasattr(program,'searchMatches') and len(program.searchMatches)>0">Match in:
              <ul >
                <li tal:repeat="tooltip program/searchMatches">
                <i><span tal:content="tooltip/0" /></i>: <span tal:content="structure tooltip/1" />
                </li>
              </ul>
            </li>
          </ul>
			</li>
		</metal:block>
	</tal:block>
</metal:recurse>

<div id="programs_list_div" class="programs" xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal" tal:define-macro="categoriesList">

<input id="programsLocalRepository" type="hidden" tal:attributes="value python:options['registry'].serversByName['local'].repository"/>

<a tal:condition="python:(options['emptySearchResults']=='true')" href="#" class="emptySearchResults">no results</a>

<tal:block id="programs_tree"  tal:define="global x python:0">
	<tal:block tal:condition="python:(options['filterOn']=='false')" >
		<tal:block tal:define="global aClass string:closed; global ulStyle string:;;; "></tal:block>
	</tal:block>
	<tal:block tal:condition="python:not(options['filterOn']=='false')" >
		<tal:block tal:define="global aClass string:; global ulStyle string:;;;"></tal:block>
	</tal:block>
	<metal:block tal:define="cnode options/registry">
		<div metal:use-macro="sitemacros/macros/categoriesList" />
	</metal:block>
</tal:block>

</div>