<form xmlns:tal="http://xml.zope.org/namespaces/tal" name="userregisterForm" action="session_register.py" class="modal">
  <strong>Register for an account </strong>
  <hr/>
  <div>
    Registration enables you to store your bookmarked data and
    results on the server, without any time limit (as long as we can provide
    enough disk space of course!). You can also connect using the same
    e-mail and password from any place.
  </div>
  <br/>
  <div>
    <label for="registerEmail">
      e-mail 
    </label><input id="registerEmail" name="email" class="form_parameter mandatory" size="20" type="text" tabindex='1' autofocus>
  </div>
  <div>
    <label for="registerPassword">
      password 
    </label><input id="registerPassword" name="password" class="form_parameter mandatory" size="20" type="password" tabindex='2'>
  </div>
  <div>
    <label for="registerPasswordCheck">
      password check 
    </label><input id="registerPasswordCheck" name="passwordCheck" class="form_parameter mandatory" size="20" type="password" tabindex='3'>
  </div>
  <br/>
  <a href="#" class="closeModal" title="cancel"><input name="cancel" type="button" value="Cancel" tabindex='5' /></a><input id="userregisterSubmit" name="submit" type="submit" value="Register" tabindex='4'/>
</form>