<form xmlns:tal="http://xml.zope.org/namespaces/tal" name="useractivateForm" action="session_activate.py" class="modal">
  <strong>Activate your registered account </strong>
  <hr/>
  <div>
    Please fill the form below using the activation key we sent
    you by email.
  </div>
  <br/>
  <div>
    <label for="activateEmail">
      e-mail 
    </label><input id="activateEmail" name="email" class="form_parameter mandatory" size="20" type="text" tabindex='1' tal:attributes="value self/session/getEmail" >
  </div>
  <div>
    <label for="activatePassword">
      password 
    </label><input id="activatePassword" name="password" class="form_parameter mandatory" size="20" type="password" tabindex='2' autofocus>
  </div>
  <div>
    <label for="activateKey">
      activation key 
    </label><input id="activateKey" name="key" class="form_parameter mandatory" size="20" type="text" tabindex='3'>
  </div><a href="#" class="closeModal" title="cancel"><input name="cancel" type="button" value="Cancel" tabindex='5' /></a><input id="useractivateSubmit" name="submit" type="submit" value="Activate" tabindex='4'/>
</form>