<form xmlns:tal="http://xml.zope.org/namespaces/tal" name="usersignInForm" action="session_signin.py" class="modal">
  <strong>Sign in to your registered account </strong>
  <hr/>
  <div>
    If you have signed-up for a registered account, you can connect here.
  </div>
  <br/>
  <div>
    <label for="signInEmail">
      e-mail 
    </label>
    <input id="signInEmail" name="email" class="form_parameter mandatory" size="20" type="email" tabindex='1' autofocus>
  </div>
  <div>
    <label for="signInPassword">
      password 
    </label>
    <input id="signInPassword" name="password" class="form_parameter mandatory" size="20" type="password" tabindex='2'>
  </div><a href="#" class="closeModal" title="cancel"><input name="cancel" type="button" value="Cancel" tabindex='4' /></a><input id="usersignInSubmit" name="submit" type="submit" value="Sign in" tabindex='3' /><hr/>
  <div>
    Otherwise, you can <a style="font-weight: bold;" href="#user::register" class="modalLink" title="request a registered account">register</a>
    for an account.
  </div>
</form>