<form xmlns:tal="http://xml.zope.org/namespaces/tal" name="usersignOutForm" action="session_signout.py" class="modal">
  <strong>Sign out of this account </strong>
  <hr/>
  <div>
    Please note that if you are using a guest account, any
    submitted job will be lost.
  </div>
  <br/>
  <a href="#" class="closeModal" title="cancel"><input name="cancel" type="button" value="Cancel" tabindex='2' /></a><input id="usersignOutSubmit" name="submit" type="submit" value="Sign out" tabindex='1' autofocus/><hr/>
  <div>
    To avoid losing your work, you can <a style="font-weight: bold;" href="#user::register" class="modalLink" title="request a registered account">register</a>
    for an account.
  </div>
</form>
