table,tr,td,div,span,ul,ol,li{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#portalMain ul, #portalMain ol{
    list-style-position: inside;
}

a{
  outline: none;
}

.dataTable {
    text-align: left;
    border:1px solid #666666;
    margin-top: 3em;
}

.dataTable th, .dataTable td, .dataTable tr{
    border:1px solid #666666;
    margin:0px;
}

.dataTable th{
    color: #448;
    font-weight: bold;  
}

.dataTable td{
    color: black;
    font-weight: normal;    
}

.dataTable td{
        max-width: 200px;
        overflow: hidden;
}


#sessionSpace{
    width:20%;
    height:10px;
    border:1px solid #ccc;
    padding:0;
    margin:0;
}

#sessionUsage{
    background-color: blue;
    height:10px;
}

dl.accordion {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

dl.accordion dt {
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 2px;
    background: #4682B4 ;
    font-weight: bold;
}

.handlesList li.selected{
  border-bottom: none !important;
  color: #86C2F4 !important;
}

.handlesList li input{
    display:none;
}

.panelsList .tabPanel{
  border-top:2px solid #86C2F4;
}

.parameter .panelsList{
  border:2px solid #86C2F4;
}

dl.accordion dd {
    margin: 0;
}

fieldset {
    width:98%; 
    margin: 2px;
    padding: 5px;
    clear: left;
}

.parameter {
    margin: 1px;
    padding: 1px;
    color: black;
    font-weight: normal;
    position: relative;
}

.modified {
	background-color: #EDED61;
	border-color: #EDED61;
}

.parameter legend {
	display: table-row-group;
}

.modified legend {
	background-color: #FFF8C6;
}

.popup_overlay{
    _position: absolute; /* IE6 specific hack to avoid overlay "jump"*/
    width: 99%; 
    height: 99%;
    text-align: center;
}

.popup_background{
    position: absolute;
    background-color: #000;
    opacity:.30; /*CSS3 capable*/
    -moz-opacity: 0.3; /*old FF*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/*IE8 Standards mode*/
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);/*IE8 Compatibility mode and previous versions*/
    left:0;
    overflow:hidden;
    z-index: 9998;  
    width: 99%; 
    position:fixed;
    top: 0px; 
}

.popup_background { /*IE hack for min-height*/
    height: 100%;
}

html>body .popup_background {
    height: auto;
    min-height: 100%;
}

.modal{
    border:medium solid #CCCC00;
    position: absolute;
    background-color: #FFFFCC;
    z-index: 100000;
    overflow: hidden;
}

.modal{
    top: 50px;
    left: 25%;
    width:50%;
}

.loading{
    position: absolute;
    left: 25%;
    width:50%;
    font-size: 4em;
    color: #FFFFFF;
    top:45%;
}

.modal input[type="button"]{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.uploadform {
    display: inline;
}

.errormsg {
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-image: url(../images/exclamation.gif);
    color: darkred;
    font-weight: bold;
    font-size: small;
    background-color: #FFE4E1;
}

.reference{
    font-style: italic;
    color: black;
    margin-bottom: 1em;
}

.authors:BEFORE{
    content: "Author(s): ";
    font-style: normal;
}

.authors{
    font-weight: bold;
    color: black;
    margin-bottom: 1em;
}

a{
    text-decoration: none;
}

.commentToggle {
    color:#BB4444 !important;
    cursor:pointer;
    font-weight:bold !important;
    padding-left:0.5em;
    padding-right:0.5em;
    text-decoration:underline !important;
}

.commentText{
    list-style-type: none;
    border:thin solid #CCCC00;
    font-weight: normal!important;
    color: black!important;
    background-color: #FFFFCC;  
}

.example{
    margin-top:0.5em;
}

.example pre{
    border:thin solid #CCCC00;
    background-color: #EFFFEF;  
    margin: 0.25em;
}

.program_information {
    color: black;
    background-color: #FFFFCC;  
    border:thin solid #CCCC00;
}

h1{
    color: #4682B4;
}

h1,h2,h3,h4,h5,fieldset,a,.prompt {
    color: #164274;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 97%;
    min-width: 97%;
    max-width: 97%;
}

#mainContainer{
    vertical-align: top;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

#navbar {
    vertical-align: top;
    width: 25%;
    overflow: hidden;
}

#drawer{
    border: 1px solid #666666;
}

#drawer *{ /* this fixes weird top and bottom margins appearing in IE */
    margin-top: 0px;
    margin-bottom: 0px;
}

#portalMain {
    vertical-align: top;
    padding-left: 5px;
    padding-top: 0px;
}

.sessionList ul{
    padding-left: 0px;
}

.sessionList li {
    color: darkblue;
    border: none;   
    list-style-type: none;
    line-height: 1.5;
    cursor: pointer;
}

.sessionList a.link[data-prefix]:before {
    content: attr(data-prefix) " : ";
}

.user-editable {
    width: 14px;
    height: 14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAB6klEQVR42n3RP0gbcRQH8BcvLsZBREziVhyseqeOrV0EsVTT6qKtg/PZoXQq2EuG6NLBQmsWSWoiNEOVgjkjotjBoyBJBqfY1D+QX6C6VtFU8W7I6/v9iIei8bf87u53n3vvfQ+g0kJ0GIbh5JcDAMo7kA7fP2heplsJ7kXBoEDb+bySiMbyHx+24hSdBNrk7/S46i7miKhqNb9IZXeVTCbDTs6KuL22bk43uAWmysmKaITa+5FcYaf/zvH4+MQ6vzQJr5nTLa3I276BVACB3tbWyhoAW1BfYyH327owLYH/np7h0lw07wOQbyHalYCnqTD/fBBDrjprru8pslzO4u2mU2nGZ7ZRsKfHaSO3l8X6fRh5/MQK1TeUZmrqrG/qOG7oyyyVzQok0g6WE3rjcimBRo+NPgGUwrTHfC9wgtoeoo8KRGkjpS5K9gJ08Jl4e5FH3RwR7raizwbQ7/EW+Mz8PRHcFSItzU9OGvFXozirdJqfpRoME45SZT+1rZYrldN22FFubm61/9rbL6YTOn4AMGc7uswYVfY3um10FdyNtarrYweM4Z/Do1JqKYFfh1/STBLjM19DjltQk+X4z4VFPGAF3NndK37RNIPPzM8oOOedSPxsgHWtXY6v6skx3jafuYyqKiJa/wGsyPUmH2eRsQAAAABJRU5ErkJggg==) no-repeat 0px 0px;
    cursor: pointer;
    background-position: 0px 0px;
    background-repeat: no-repeat no-repeat;
    border:none;
    color:transparent;
    font-size: 0px;
}

.jobstatus{
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.jobstatus.building {
    background-image: url(../images/hourglass.gif);
    color: darkorange;
}

.jobstatus.submitted, .jobstatus.pending, .jobstatus.running, .jobstatus.hold {
    background-image: url(../images/hourglass.gif);
    color: darkorange;
}

.jobstatus.error, .jobstatus.killed {
    background-image: url(../images/cross.gif);
    color: red;
}

.jobstatus.finished {
    background-image: url(../images/tick.gif);
    color: green;
}

a {
    border: none;
}

textarea{
    width: 98%;
}

.tooltip{
    border: 1px solid #777;
    position: absolute;
    background-color: #FFFFCC;
    z-index: 20000;
    /* setting tooltip opacity to opaque */
    opacity:1;
    color: black;
    font-weight: normal;
    list-style-type: none;
    padding-left: 2px;
    padding-right: 2px;
}

/* indicating that disabled inputs are not editable*/
input[readonly] {
  background:gray;
  cursor:default;
  border: none;
}

.inactive{ /* inactive user color code */
    color: gray;
}

/* general announcements */
.announcement{
  display: block;
  border: 1px solid #777;
  background-color: #FFFFCC;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size:large;
  font-weight:bold;
}

.unavailable{
  position: absolute;
  border:medium solid #CCCC00;
  background-color: #FFFFCC;
  text-align: center;
  font-size:large;
  font-weight:bold;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 10001;
}

.unavailable div{
  position: relative;
  top: 45%;
}

#preload_img{
  display: none;
}

ul#userOptions {
    display:inline;
    margin:0pt;
    padding:0pt;
}

#userOptions li {
    display:inline;
    margin:0pt;
    padding:0pt;
}

#userOptions li:after {
  content: " | ";
}

#programsMenu .blindLink, #programsMenu .link {
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 15px;
}

#programsMenu .menu.forms{
    background-image:none!important;
    line-height: 2em;
    font-weight: bold;
    display: block;
    padding: 2px;
}

#programsMenu li{
    width: 100%;
}

#programsMenu .blindLink, .minimizable > legend{
    background-image: url("../images/del_stat.gif");
}

#programsMenu .blindLink.closed, .minimizable > legend.closed{
    background-image: url("../images/add_stat.gif");
}

#programsMenu .link {
    background-image: url(../images/bullet_orange.gif) !important;
}

.programs ul {
    padding-left: 0px;
    margin-left: 0px;
}

.programs ul ul{
    margin-left: 0.5em; 
}

.tree_close a {
    font-weight: normal;
}

a.emptySearchResults {
    background-color: orange;
    color: white;
    text-decoration: blink;
}

#programSearch {
    border: solid 1px gray;
}

#searchSubmit, #programsList {
    margin-left: 0.1em;
    font-weight: bold;
}

.resultbox{
    font-size: small;
}

.resultbox span{
    margin-right: 1em;
}

.results_file h3 {
    display: inline;
}

.results_file a {
    display: inline;
}

.resultbox form{
    display: inline;
}

.resultstable {
    font-size: 90%;
    text-align: left;
}

object, iframe{
    border: 1px solid #778;
    width: 100%;
    background-color: white;
}

.job object{
    max-height: 150px;  
}

.bookmark object{
    height: 600px;
}

.resultbox {
    vertical-align:middle;
}

ul.paramFiles{
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 0;
    padding-left:0;
    list-style-type:none;
}

ul.paramFiles li{
    margin-left: 0;
    padding-left:0;
    display:inline;
}

.saveFileLink{
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 20px;
    padding-left: 20px;
    background-image: url(../images/action_save.gif);
    font-weight: normal;
    font-size: small;
    text-align: right;
}

.handlesList {
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    list-style-type:none;
    margin:0px;
    padding:0px 10px 0px 0px;
    text-align:left;
}

.program .handlesList li{
    line-height: 2em;
    padding-top: 0em;
    padding-bottom: 0em;
}

.panelsList .handlesList{
    margin-top: 2px;
}

.handlesList:after {
    color: white;
    content: "]";
}

#advancedProgramSearchToggle{
    font-weight: bolder!important; 
    font-size: smaller!important;
    background-image: none!important;
    padding-left: 0px!important;
}

#advancedProgramSearch label{
    display: inline;
}

.handlesList li {
    float: left;
    bottom: 0px;
    margin-right: 1px;  
}

.menu{
    background-color: #4682B4;   
}

.menu, .menu *{
    color: #DDDDDD;
}

.menu.ctrl{
    outline : none!important;
    background-color: transparent!important;
    font-weight: normal!important;
}

.menu.selected, .menu:hover{
    outline : 1px solid #606060;
    background-color: #86C2F4;
}

.menu.selected, .menu:hover, .menu.selected *, .menu:hover *{
    color: white;
}

.handlesList li, .handlesList li a, dl.accordion dt{
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.handlesList li.ctrl button{
    font-size: small;
    line-height: 0.8em;
    color: black;
}

.handlesList li.ctrl button[disabled]{
    color: grey;
}

.handlesList li.ctrl{
    background-color: white;
    float: right;
}

.panelsList{
    margin-top:0px;
    clear:both;
}

.handlesList li * {
    padding: 0pt 1em;
    white-space: nowrap;
}

.handlesList a.closeTab, .controls a.closeModal {
    font-weight: bold;
    padding-left: 15px;
    color: red;
}

.detachModal{
    background-image: url(../images/exportapp_wiz.gif);
    background-repeat: no-repeat;   
    padding-left: 15px;
    color: transparent;
}

.modal.viewer{
    left: 10%;
    width: 80%;
    height: 900px;  
}

.modal.viewer .header{
    font-size: smaller;
    height: 5%;
    text-align: center;
}

.viewerRelContainer{
	position: relative; 
	height: 100%;
	width: 100%;
}

.modal.viewer .header *{
    margin: 0px;
}

.modal.viewer .data_view{
    height: 75%;
    width: 100%;
}

.modal.viewer .footer{
    bottom: 0px;
    height: auto;
    position: absolute;
    text-align: left;
    width: 100%;
	height: 20%;
	overflow-y: scroll;
}

.modal.viewer .controls{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
}
.modal iframe /* hack that avoids select boxes overlapping popups in IE */
{
        display:none;/*sorry for IE5*/
        display/**/:block;/*sorry for IE5*/
        position:absolute;/*must have*/
        top:0;/*must have*/
        left:0;/*must have*/
        z-index:-1;/*must have*/
        width: 3000px;/*must have for any big value*/
        height: 3000px;/*must have for any big value*/;
        filter: Mask();
        background-color: #FFFFCC;
        overflow:hidden;
}


a.refresh_link {
    font-size: smaller;
}

a.refresh_link.disabled, a.refresh_link.disabled * {
    color:gray;
}

.tabPanel {
     position: relative;
     clear: both;
     zoom: 100%; /* this hack corrects some ie7 peekaboo bug that prevents correct form display */
}

.presentation {
    padding: 15px; 
    border: 1px #444488 solid;
    background-color: #E0ECFF;
}

#navbar li{
    overflow: hidden;
}

/* new form css */

label{
    display: block;
    color: #000000;
}

textarea{
    display: block;
}

h1, h2, h3, h4, h5, fieldset, a {
    color:#164274;
}

fieldset {
    clear:left;
    margin:2px;
    padding:5px;
    width:98%;
}

input[type='text'], input[type='checkbox'], input[type='radio'], input[type='file'], textarea, checkbox {
    margin:0.2em;
    padding:0.2em;
}

form.bookmark input{
    margin: 0px;
    padding: 0px;
}

div.header span{
    display:table-cell;
    vertical-align:middle;
}

form.program .header input[type='submit'], form.program .header input[type='reset'], form.program .header button{
    margin:20px;
    padding-left:6px;
    padding-right:6px;
    font-size:large;
}

form.bookmark{
    float: right;
    display: inline;
}

.viewer form.bookmark{
    float: none;
    display: block;
}


textarea {
    height: 7em;
}

table {
    width: 100%;
}

.info, .progressReport {
    /* information block (footer) */
    background-color:#FFFFCC;
    border:thin solid #CCCC00;
    color:black;
}

.progressReport {
	overflow-y: scroll;
	white-space: pre;
	text-align: left;
	font-family: "monospace"; 
	max-height: 150px;
	resize: vertical;
}

.info * {
    display:block;
}

.info > .reference:first-child::before {
    content: 'References :';
}

.reference {
    font-style:italic;
}

/* mandatory parameters management*/
label.parameter.mandatory:before, fieldset.mandatory legend:before{
    content: '* ';
    color: red;
    font-weight: bolder;
}

/* mandatory parameters management*/
label.parameter.mandatory.conditional:before, fieldset.mandatory.conditional legend:before{
    color: blue!important;
}

fieldset.parameter{
    border: none;
    color: black;
}

.parameter_value{
    font-weight: bold;
}

.ask_for_help{
    content: url("../images/lightbulb.png");
}

.back_link{
    content: url("../images/arrow_left.png");
}

.remove_link{
    content: url("../images/bin.png");
}

.job_controls{
    color: red;
    text-align: center;
}

.minimizable > legend{
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-image: url("../images/del_stat.gif");
}

.minimizable.minimized  > legend{
    background-image: url("../images/add_stat.gif");    
    display:inherit;
}

.minimizable.minimized > *{
    display:none;
}

.parameter label.history {
    float: right;
    width: 50%;
}

#programs .parameter textarea{
    width: 98%;
}

.parameter label{
    display: inline;
}

.controlbox{
    background-color:#EFEAE5;
    width: 100%;
}

.captcha_background{
    background-image: url('../images/session_captcha_wait.png');
    background-position: left;
    background-repeat: no-repeat;
}

.prompt{
    font-weight: bold;
}

.job *[data-parametername]{
    border: 1px solid #E0ECFF;
    padding: 5px;
}

#welcome_footer fieldset{
    color: black;
}

.databox_add_button{
    float: right;
    font-weight: bold;
    font-size: bigger;
}

#userOptions li:last-child:after {
  content: "";
}@CHARSET "US-ASCII";